<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pet_platform.mapper.CommentMapper">
    <select id="findAllByForeginId" resultType="com.example.pet_platform.entity.Comment" parameterType="int">
        SELECT c.*,pet_user.avatar FROM (select pet_comment.* from pet_comment
        left join pet_article
        on pet_comment.foregin_id=pet_article.aid
        where  pet_comment.foregin_id=#{foreginId}) c LEFT JOIN pet_user on c.user_id=pet_user.uid

    </select>
    <select id="findAllByUserId" resultType="com.example.pet_platform.entity.Comment" parameterType="int">
        select pet_comment.* from pet_comment
                                      left join pet_article
                                                on pet_comment.foregin_id=pet_article.aid
        where  pet_comment.user_id=#{UserId}

    </select>
</mapper>
